# Conexão com o Banco de Dados
# Formato sugerido: postgresql://usuario:senha@host:porta/nome_do_banco
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Segurança (JWT)
# Gere uma chave segura usando: openssl rand -hex 32
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
